input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff7043;
  -webkit-box-shadow: 0 1px 0 0 #ff7043;
  box-shadow: 0 1px 0 0 #ff7043;
}

.btn, .btn-large, .btn-small, .btn-floating {
  background-color: #ff5722;
}

.btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
  background-color: #ff8a65;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: #ff8a65;
}